body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    font-family: Arial, sans-serif; /* Font style */
    text-align: center;
    overflow: hidden;
}

#calculations {
    font-size: 2em;
}

#current-earnings {
    font-size: 8em;
}

#input-toggle-clock {
    font-family: Arial, sans-serif; /* Font style */
    font-size : 1.5em;
}

form .input-group {
    margin-bottom: 2em;
}

/* #calculations .rate, #calculations .duration { */
    /* font-weight: 800; */
/* } */
